.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    background-color: #fff;
  }
  .img-profile{
    height:200px;
  }

  .title {
    color: rgb(46, 46, 46);
    font-size: 15px;
  }
  .ket{
    background-color: #9ed8cc;
    color:#fff;
  }
  .ket img{
    height: 20px; display :inline;
  }
  .ket a{
    color :#084d3f;
  }
  .nama{
    color:#084d3f;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }

  
  